body {
   margin: 0;
   font-family: 'Special Elite', cursive;  
}

.page-wrapper {
   width: 100vw;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   gap: 30px;
}

h1 {
   font-size: 40px;
   margin-bottom: 0;
}

h2 {
   margin-top: 0;
}

.gameboard-wrapper-outer {
   width: 900px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 50px;
}

.gameboard-wrapper-inner {
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
}

.gameboard {
   width: 425px;
   height: 425px;
   border: 3px solid black;
   display: flex;
   flex-direction: column;
   justify-items: center;
   align-items: center;
}

.gameboard-row {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: stretch;
}

.gameboard-row > div {
   border: 1px solid black;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   font-size: 18px;
}

.ship-space {
   background-color: black;
}

#game-log {
   font-size: 18px;
}

.cta-wrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
}

.cta {
   font-family: 'Special Elite', cursive;  
   font-size: 18px;
   padding: 12px 15px 10px 15px;
   border: 3px solid black;
   background-color: transparent;
   cursor: pointer;
}